nav{ 
   background-color: #0779E4;
   display: flex; 
   flex-direction: row;
justify-content: space-around;
align-items: center;
}

.text-white{
    color: white;
}

.text-bold {
    font-weight: bold;
}